/* IM GOING TO CRY I HATE DOING CSS */


/*Font attributes */
  .poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }

/* images */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  text-align: left;
}

.left {
  text-align: right;
}

/* about page centering */
.center {
  margin:auto;
  width: 50%;
}

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.center-text{
  text-align: center;
}

/* strikethrough? */

.header-container {
  position: relative;
  display: inline-block;
  width:100%;
  text-align: center;
}

.header-container h1 {
  position: relative;
  z-index: 1; 
  background-color: white;
  padding: 10px; 
  display: inline-block;
}

.header-container hr {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  border: none;
  height: 2px;
  background-color: rgb(0, 0, 0);
}

/* sticky navbar */

#navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;
  z-index: 2;
}

/* The only bespoke code i wrote */

.nav_list{
  font-size: 24px;
  text-decoration: none;
  padding-top:10px;
  padding-bottom:10px;
  color: black;
}

.url-button{
  text-decoration: none;
  margin-top: 20px;
  padding:20px;
}

.no-text-dec{
  text-decoration: none;
}

.margin{
  margin-left:20%;
  margin-right:20%;
}
.margin-height{
  margin-top:2%;
  margin-bottom:2%;
}

.margin-left{
  margin-left:2%;
}

/* Phones */

@media (max-width:768px){

  .nav_list{
    font-size: 16px;
  }

  .right {
    text-align:center;
    
  }
  
  .left {
    text-align:center;
    
  }

  .container {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items */
    text-align: center; /* Center text */
  }

  .margin{
    margin-left:0px;
    margin-right:0px;
  }

  .margin-left{
    margin-left:0px;
  }

  .center {
    margin:auto;
    width: 100%;
  }

}

footer {
  background: rgb(243, 243, 243);
  
}

/* Community page css shenanigans */

.tablink {
  background: white;
  float: left;
  border: none;
  outline: none;
  padding: 14px 16px;
  width: 25%;
  font-size:20px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding-top: 80px;
  padding-bottom:30px;
  text-align: center;
}

/* Carousel Gallery */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


